<% provide(:title, 'Flow') %>
<link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>

</div>

<div class="armata">

<div id="mainbanner">
	<div id="flowbg">
		<%= image_tag 'flowlogo.png' %>
		<div id="makersday">
			<p>
				The <i>Makers Get-Shit-Done</i> Day
			</p>
		</div>
		<p>
		<strong>Termina tu proyecto creativo en 10 horas.</strong>
		</p>
		<p>
		<div class="container">
			<div class="row-fluid">
				<%= link_to '¡Genial! Quiero ir', 'http://flow.boletia.com', target: "_blank", class: 'btn btn-large btn-info' %>
			</div>
		</div>
	</div>
</div>

<!--div class = 'container'>
	<div class= "row-fluid">
		<div class = 'span4'>
			<%#= link_to image_tag('prensa.png'), "http://blog.funkalab.com/private/35591683438/tumblr_mdebqcExxr1rdn40i", target: 'blank', class: ''  %>
		</div>
		<div class = 'span2 offset1'>
			<div class="fb-like pull-right" data-href="https://www.facebook.com/funkalab" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>

		</div>
		<div class = ''>
			<a href="https://twitter.com/funkalab" class="twitter-follow-button" data-show-count="false" data-lang="es" data-show-screen-name="false">Seguir a @funkalab</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</div!-->

<div class="container">
	<div id="que">
		<div class="row-fluid">
			<div class="span4">
				<h1>¿Qué es FLOW?</h1>
				<br/>
				<br/>
				<p>
					<h4>Es un un <strong>evento</strong> de un día dedicado a terminar tus proyectos personales junto a la <strong>comunidad de creativos</strong> en <i>Monterrey</i>: un cuento, una animación, un cómic, un cortometraje, un mix, un póster, tu portafolio, lo que sea.</h4>
				</p>
				<br/>
				</p>
					<h4>
					Ese día tendrás 12 horas para trabajar en tu proyecto, conocer a gente nueva con pasiones creativas y aprender nuevas habilidades con talleres prácticos.
					</h4>
				</p>
			</div>

			<div class="span8">
				<%= image_tag 'makersgif.gif' %>
			</div>

		</div>
	</div>
</div>

<div id="porque">
	<div class="container">
		<div class="row-fluid">
			<p>
				<u>FLOW</u> <i>es un día para juntar a la escena de creadores en Monterrey, para compartir ideas y empezar a generar comunidad.</i>
			</p>
		</div>
	</div>

</div>

<div class=" subtledots">
	<div id="actividades">
			<div class="align-center">
				<div class="title">
					<h1>Actividades</h1>
					<br/>
					<br/>
				</div>
			</div>
			<div class="container">
				<div class="row-fluid">
					<div class="span4">
						<%= image_tag 'actividadestaller.png' %>
						<br/>
						<br/>
						<h1>Mini-Talleres</h1>
						<p>
						 <h3>Aprende una habilidad específica de alguien que sabe.</h3>
						</p>
					</div>
					<div class="span4">
						<%= image_tag 'actividadesmano.png' %>
						<br/>
						<br/>
						<h1>"Making" Time</h1>
						<p>
						 <h3>Lo mas importante es sentarse y terminar tu proyecto.</h3>
						</p>
					</div>
					<div class="span4">
						<%= image_tag 'actividadesfoco.png' %>
						<br/>
						<br/>
						<h1>Speedtalks</h1>
						<p>
						 <h3>Rápidamente, todos presentan su idea y los avances al final del día. </h3>
						</p>
					</div>
				</div>
			</div>
	</div>
</div>

<div id="talleres">
	<div class="container">
		<div class="row">
			<div class="title">
				<h1>Mini-Talleres</h1>
			</div>
			<br/>
			<br/>
			<div class="span4">
				<%= image_tag 'ilustracion.jpg' %>
				<br/>
				<br/>
				<h3>Ilustración Digital </h3>
				<p>Próximamente más información.</p>
			</div>
			<div class="span4">
				<%= image_tag 'arduino.jpg' %>
				<br/>
				<br/>
				<h3>Speed Arduino </h3>
				<p>Próximamente más información.</p>
			</div>
			<div class="span4">
				<%= image_tag 'musica.jpg' %>
				<br/>
				<br/>
				<h3>Música <i>Experimental</i> </h3>
				<p>Próximamente más información.</p>
			</div>
		</div>
	</div>
</div>

<div id="ejemplos">
	<div class="container">
		<div class="row-fluid">
			<div class="bigtypo">
			  ¿Qué puedo hacer?
			</div>
			<br/>
				<!--
				<div class="scrollbox">
				  <div class="heading-scroll">
				    <div class="content">
				      <div class="headings">
				        <h1 id="first">Haz una <span>tipografía</span> para la ciudad.</h1>
				        <h1 id="second">Aprende a usar tornamesas y <span>mezcla</span></h1>
				        <h1 id="third">Empieza tu blog de <span>fotografía</span></h1>
				        <h1 id="fourth">Pon en línea tu <span>portafolio de diseño</span></h1>
				        <h1 id="fifth">Colabora en otros <span>creadores</span></h1>
				      </div>
				    </div>
				  </div>
				</div>
				-->

					<div class="idea" id="idea-1">
	    				
	    				<h1>Haz una tipografía para la ciudad.</h1>
						    <a href="http://www.good.is/posts/can-a-font-help-a-city-make-a-comeback" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large " href="javascript:void(0)" id="one">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-2">
						    <h1>Empieza tu blog de fotografía.</h1>
						    <a href="http://www.streetartutopia.com/" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="two">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-3">
						    <h1>Crea un stop-motion.</h1>
						    <a href="https://vimeo.com/11918221" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="three">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-4">
						    <h1>Termina tu portafolio en línea.</h1>
						    <a href="http://coryschmitz.com/" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="four">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-5">
						    <h1>Haz un fanzine.</h1>
						    <a href="http://www.flickr.com/photos/fanzinepaper/" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="five">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-6">
						    <h1>Termina ese diseño para el concurso que viste.</h1>
						    <a href="http://www.krobarch.com/winners.asp?winner_year=2012" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="six">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-7">
						    <h1>Aprende a usar un Arduino.</h1>
						    <a href="https://vimeo.com/38796545" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="seven">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-8">
						    <h1>Comienza a dibujar el videojuego que quieres hacer.</h1>
						    <a href="http://www.retrothing.com/2010/06/original-pacman-design-sketches.html" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="eight">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-9">
						    <h1>Escribe el guión para tu primer cortometraje.</h1>
						    <a href="https://vimeo.com/62092214" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="nine">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-10">
						    <h1>Inicia ilustrando la portada de un libro.</h1>
						    <a href="http://www.behance.net/gallery/A-Bit-Lost/618897" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="ten">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-11">
						    <h1>Haz un webcomic.</h1>
						    <a href="http://abaddoncomic.com/page-1/#comments" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="eleven">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-12">
						    <h1>Crea tu identidad personal</h1>
						    <a href="http://www.behance.net/gallery/Personal-Identity/7913533" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="twelve">Generar una idea </a>
					</div>
				
			<br/>
		</div>
	</div>
</div>


<!--
<a href="http://www.good.is/posts/can-a-font-help-a-city-make-a-comeback">
	Haz una tipografía para la ciudad.
</a>  
-->

<!--
<a href="http://www.streetartutopia.com/">
	Empieza tu blog de fotografía. 
</a>
-->

<!--
<a href="https://vimeo.com/11918221">
	Crea un stop-motion.
</a>
-->

<!---
<a href="http://coryschmitz.com/ ">
	Termina tu portafolio en línea.
</a>
-->

<!--
<a href="http://www.flickr.com/photos/fanzinepaper/">
	Haz un fanzine.
</a>
-->

<!--
<a href="http://www.krobarch.com/winners.asp?winner_year=2012">
	Termina ese diseño para el concurso que viste.
</a>
-->

<!--
<a href="https://vimeo.com/38796545">
	Aprende a usar un Arduino.
</a>
-->

<!--
<a href="http://www.retrothing.com/2010/06/original-pacman-design-sketches.html ">
	Comienza a dibujar el videojuego que quieres hacer.
</a>
-->


<!--
<a href="https://vimeo.com/62092214">
	Escribe el guión para tu primer cortometraje.
</a>
-->

<!--
<a href="http://www.behance.net/gallery/A-Bit-Lost/618897">
	Inicia ilustrando la portada de un libro.
</a>
-->

<!--
<a href="http://abaddoncomic.com/page-1/#comments">
	Haz un webcomic.
</a>
-->

<!--
<a href="http://www.behance.net/gallery/Personal-Identity/7913533 ">
	Crea tu identidad personal
</a>
-->

<div id="como">
	<div class="container">
		<div class="row-fluid">
			<div class="title">	
				<h1>¿Cual es la dinámica?</h1>
			</div>
			<br/>
			<br/>
			<div class="offset2">
				<div class="itinerario">
					<h2>Itinerario</h2>
				</div>
				<br/>
				<h4>
					<div class="itinerario2">		
							<p>10:00am - 11:00am Registro y Networking </p>
							<p>11:00am - 11:30am Presenta tu proyecto </p>
							<p>11:30am - 1:30pm Empieza a crear </p>
							<p>1:30pm - 2:30pm Hora de comida </p>
							<p>2:30pm - 8:00pm Sigue creando </p>
					</div>
						<br/>
						<br/>
						<div class="itinerario">
							<i><h2>*Talleres opcionales</h2></i>
						</div>
						<br/>
						<div class="itinerario2">
							<p>3:00pm - 3:30pm Ilustración Digital </p>
							<p>4:30pm - 5:30pm Speed Arduino </p>
							<p>6:30pm - 7:00pm Música</p>
						</div>
				</h4>
			</div>
		</div>
	</div>
</div>

<div id="info">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
				<h1>Lugar</h1>
				<h3>
					<p>
					 Innovaction Gym
					</p>
					<p>
					 (Tec de Monterrey)
					</p>
				</h3>
			</div>
			<div class="span4">
				<h1>Fecha</h1>
				<h3>
				 <p> 14 de Septiembre </p>
				 <p> 9 am. a 9 pm. </p>
				</h3>
			</div>
			<div class="span4">
				<h1>Contacto</h1>
				<h3>
				 <p> Facebook: facebook.com/funkalab </p>
				 <p> Twitter: @funkalab.com </p>
				 <p> Correo: hello@funkalab.com </p>
				</h3>
			</div>
		</div>
	</div>
</div>

<!-- "Script to run the animation" -->

<script>
    $('#one').click(function() {
        $('#idea-2').removeClass('hide');
        $('#idea-1').addClass('hide');
    });

    $('#two').click(function() {
        $('#idea-3').removeClass('hide');
        $('#idea-2').addClass('hide');
    });

    $('#three').click(function() {
        $('#idea-4').removeClass('hide');
        $('#idea-3').addClass('hide');
    });

    $('#four').click(function() {
        $('#idea-5').removeClass('hide');
        $('#idea-4').addClass('hide');
    });

    $('#five').click(function() {
        $('#idea-6').removeClass('hide');
        $('#idea-5').addClass('hide');
    });

    $('#six').click(function() {
        $('#idea-7').removeClass('hide');
        $('#idea-6').addClass('hide');
    });

    $('#seven').click(function() {
        $('#idea-8').removeClass('hide');
        $('#idea-7').addClass('hide');
    });

    $('#eight').click(function() {
        $('#idea-9').removeClass('hide');
        $('#idea-8').addClass('hide');
    });

    $('#nine').click(function() {
        $('#idea-10').removeClass('hide');
        $('#idea-9').addClass('hide');
    });

    $('#ten').click(function() {
        $('#idea-11').removeClass('hide');
        $('#idea-10').addClass('hide');
    });

    $('#eleven').click(function() {
        $('#idea-12').removeClass('hide');
        $('#idea-11').addClass('hide');
    });

    $('#twelve').click(function() {
        $('#idea-1').removeClass('hide');
        $('#idea-12').addClass('hide');
    });

</script>


<!--Typography divider. Don't erase.!-->
</div>
<!--This one close the mirror created. Don't erase.!-->
<div class="container">




