<% provide(:title, 'Flow') %>

</div>
<div class="armata">
<div id="mainbanner">
	<div id="flowbg">
		<%= image_tag 'flowlogo.png' %>
		<div id="makersday">
			<p>
				The <i>Makers Get-Shit-Done</i> Day
			</p>
		</div>
		<p>
		<strong>Ven y termina tu proyecto creativo en 10 horas.</strong>
		</p>
		<p>
			<div id="translucentbanner">
				Próximo Evento: 3 de marzo - Monterrey, NL
			</div>
		</p>
		<p>
			<div class="container">
				<div class="row-fluid">
					<% link_to '¡Genial! Quiero ir', 'http://flow.boletia.com', target: "_blank", class: 'btn btn-large' %>
					<!-- Begin MailChimp Signup Form -->
							<div class="offset3 span6">
								<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
								<style type="text/css">
									#mc_embed_signup{background:transparent; clear:left; font:14px 'Armata', Helvetica,Arial,sans-serif; }
									/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
									   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
								</style>
								<div id="mc_embed_signup">
									<form action="http://rodrigotello.us7.list-manage.com/subscribe/post?u=5bde610d99628e23dfe04cf14&amp;id=cd3f5b2b2c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>					
										<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Si quieres saber más, deja tu correo" required>
									    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
									    <div style="position: absolute; left: -5000px;">
									    	<input type="text" name="b_5bde610d99628e23dfe04cf14_cd3f5b2b2c" value="">
									    </div>
										<div class="clear">
											<input type="submit" value="Informarme cuando esté listo" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-important">
										</div>
									</form>
								</div>
							</div>

					<!--End mc_embed_signup-->
				</div>
			</div>
		</p>
	</div>
</div>
<div class="container">
	<div id="que">
		<div class="row-fluid">
			<div class="span12">
				<br/>
				<p>
					 <center>
					 	<h2>FLOW es un un <strong>evento</strong> de un día dedicado a terminar tus proyectos personales junto a la <strong>comunidad de creativos</strong> en <i>Monterrey</i>: una animación, un cuento, un cómic, un cortometraje, un mix, un póster, tu portafolio, lo que sea.</h2>
					</center>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="ejemplos">
	<div class="container">
		<div class="row-fluid">
			<div class="bigtypo">
			  ¿Qué demonios puedo hacer en 10 horas?
			</div>
			<br/>
					<div class="idea" id="idea-1">
	    				
	    				<h1>Haz una tipografía para la ciudad.</h1>
						    <a href="http://www.good.is/posts/can-a-font-help-a-city-make-a-comeback" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large " href="javascript:void(0)" id="one">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-2">
						    <h1>Empieza tu blog de fotografía.</h1>
						    <a href="http://www.streetartutopia.com/" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="two">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-3">
						    <h1>Crea un stop-motion.</h1>
						    <a href="https://vimeo.com/11918221" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="three">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-4">
						    <h1>Termina tu portafolio en línea.</h1>
						    <a href="http://coryschmitz.com/" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="four">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-5">
						    <h1>Haz un fanzine.</h1>
						    <a href="http://www.flickr.com/photos/fanzinepaper/" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="five">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-6">
						    <h1>Termina ese diseño para el concurso que viste.</h1>
						    <a href="http://www.krobarch.com/winners.asp?winner_year=2012" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="six">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-7">
						    <h1>Aprende a usar un Arduino.</h1>
						    <a href="https://vimeo.com/38796545" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="seven">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-8">
						    <h1>Comienza a dibujar el videojuego que quieres hacer.</h1>
						    <a href="http://www.retrothing.com/2010/06/original-pacman-design-sketches.html" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="eight">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-9">
						    <h1>Escribe el guión para tu primer cortometraje.</h1>
						    <a href="https://vimeo.com/62092214" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="nine">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-10">
						    <h1>Inicia ilustrando la portada de un libro.</h1>
						    <a href="http://www.behance.net/gallery/A-Bit-Lost/618897" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="ten">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-11">
						    <h1>Haz un webcomic.</h1>
						    <a href="http://abaddoncomic.com/page-1/#comments" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large" href="javascript:void(0)" id="eleven">Generar una idea </a>
					</div>

					<div class="idea hide" id="idea-12">
						    <h1>Crea tu identidad personal</h1>
						    <a href="http://www.behance.net/gallery/Personal-Identity/7913533" class="link blueish">Ver un ejemplo.</a>
						    <br/>
						    <br/>
						    <a class="btn btn-large btn-info" href="javascript:void(0)" id="twelve">Dame otra idea</a>
					</div>
			<br/>
		</div>
	</div>
</div>
<!-- This is not longer on the landing page
	<div id="porque">
		<div class="container">
			<div class="row-fluid">
				<p>
					<u>FLOW</u> <i>es un día para juntar a la escena de creadores en Monterrey, para compartir ideas y empezar a generar comunidad.</i>
				</p>
			</div>
		</div>
	</div>
-->
<div class=" subtledots">
	<div id="actividades">
			<div class="align-center">
				<div class="title">
					<h1>Actividades</h1>
					<br/>
					<br/>
				</div>
			</div>
			<div class="container">
				<div class="row-fluid">
					<div class="span4">
						<%= image_tag 'actividadestaller.png' %>
						<br/>
						<br/>
						<h1>Mini-Talleres</h1>
						<p>
						 <h3>Aprende una habilidad específica de alguien que sabe.</h3>
						</p>
					</div>
					<div class="span4">
						<%= image_tag 'actividadesmano.png' %>
						<br/>
						<br/>
						<h1>"Making" Time</h1>
						<p>
						 <h3>Lo mas importante es sentarse y terminar tu proyecto.</h3>
						</p>
					</div>
					<div class="span4">
						<%= image_tag 'actividadesfoco.png' %>
						<br/>
						<br/>
						<h1>Speedtalks</h1>
						<p>
						 <h3>Rápidamente, todos presentan su idea y los avances al final del día. </h3>
						</p>
					</div>
				</div>
			</div>
	</div>
</div>
<div id="talleres">
	<div class="container">
		<div class="row">
			<div class="title">
				<h1>Mini-Talleres</h1>
			</div>
			<br/>
			<br/>
			<div class="span4">
				<%= image_tag 'ilustracion.jpg' %>
				<br/>
				<br/>
				<h3>Ilustración Digital </h3>
				<p>Próximamente más información.</p>
			</div>
			<div class="span4">
				<%= image_tag 'arduino.jpg' %>
				<br/>
				<br/>
				<h3>Speed Arduino </h3>
				<p>Próximamente más información.</p>
			</div>
			<div class="span4">
				<%= image_tag 'musica.jpg' %>
				<br/>
				<br/>
				<h3>Música <i>Experimental</i> </h3>
				<p>Próximamente más información.</p>
			</div>
		</div>
	</div>
</div>
<!--
	<div id="como">
		<div class="container">
			<div class="row-fluid">
				<div class="title">	
					<h1>¿Cual es la dinámica?</h1>
				</div>
				<br/>
				<br/>
				<div class="offset2">
					<div class="itinerario">
						<h2>Itinerario</h2>
					</div>
					<br/>
					<h4>
						<div class="itinerario2">		
								<p>10:00am - 11:00am Registro y Networking </p>
								<p>11:00am - 11:30am Presenta tu proyecto </p>
								<p>11:30am - 1:30pm Empieza a crear </p>
								<p>1:30pm - 2:30pm Hora de comida </p>
								<p>2:30pm - 8:00pm Sigue creando </p>
						</div>
							<br/>
							<br/>
							<div class="itinerario">
								<i><h2>*Talleres opcionales</h2></i>
							</div>
							<br/>
							<div class="itinerario2">
								<p>3:00pm - 3:30pm Ilustración Digital </p>
								<p>4:30pm - 5:30pm Speed Arduino </p>
								<p>6:30pm - 7:00pm Música</p>
							</div>
					</h4>
				</div>
			</div>
		</div>
	</div>
-->
<div class="container">
	<div class="ademas">
		<p>
			<center>
				<h2>Ademas, aprende con talleres prácticos que ayudarán a inmersarte en las disciplinas que siempre habías querido experimentar.</h2>
			</center>
		</p>
	</div>
</div>

<div class="container">
	<div class="hackmixmake">
		IMAGEN
	</div>
</div>

<div class="sabado">
	<p>
		<center>
			<h2>Ademas ¿tienes algo mejor que hacer el sábado?</h2>
			<p>
				<div class="btn btn-large disabled">
					Sí, quiero ver Breaking Bad
				</div>
				<div class="btn btn-large btn-primary">
					Nah, dame FLOW!
				</div>
			</p>
		</center>
	</p>
</div>

<div class="container">
	<div class="moreinfo">
			<p>
				<center>
					<h2>FLOW es hecho por gente como tú que cree en el valor de la comunidad de makers: los creadores de la ciudad.</h2>
				</center>
			</p>
			<p>
				<center>
					<h3>Si tienes alguna idea o quieres ayudar a organizar el siguiente FLOW, ponte en contacto con nosotros.</h3>
				</center>
			</p>
	</div>
</div>

<div id="info">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
				<h1>Lugar</h1>
				<h3>
					<p>
					 Innovaction Gym
					</p>
					<p>
					 (Tec de Monterrey)
					</p>
				</h3>
			</div>
			<div class="span4">
				<h1>Fecha</h1>
				<h3>
				 <p> 14 de Septiembre </p>
				 <p> 9 am. a 9 pm. </p>
				</h3>
			</div>
			<div class="span4">
				<h1>Contacto</h1>
				<h3>
				 <p> Facebook: facebook.com/funkalab </p>
				 <p> Twitter: @funkalab.com </p>
				 <p> Correo: hello@funkalab.com </p>
				</h3>
			</div>
		</div>
	</div>
</div>

<!-- "Script to run the animation" -->

<script>
    $('#one').click(function() {
        $('#idea-2').removeClass('hide');
        $('#idea-1').addClass('hide');
    });

    $('#two').click(function() {
        $('#idea-3').removeClass('hide');
        $('#idea-2').addClass('hide');
    });

    $('#three').click(function() {
        $('#idea-4').removeClass('hide');
        $('#idea-3').addClass('hide');
    });

    $('#four').click(function() {
        $('#idea-5').removeClass('hide');
        $('#idea-4').addClass('hide');
    });

    $('#five').click(function() {
        $('#idea-6').removeClass('hide');
        $('#idea-5').addClass('hide');
    });

    $('#six').click(function() {
        $('#idea-7').removeClass('hide');
        $('#idea-6').addClass('hide');
    });

    $('#seven').click(function() {
        $('#idea-8').removeClass('hide');
        $('#idea-7').addClass('hide');
    });

    $('#eight').click(function() {
        $('#idea-9').removeClass('hide');
        $('#idea-8').addClass('hide');
    });

    $('#nine').click(function() {
        $('#idea-10').removeClass('hide');
        $('#idea-9').addClass('hide');
    });

    $('#ten').click(function() {
        $('#idea-11').removeClass('hide');
        $('#idea-10').addClass('hide');
    });

    $('#eleven').click(function() {
        $('#idea-12').removeClass('hide');
        $('#idea-11').addClass('hide');
    });

    $('#twelve').click(function() {
        $('#idea-1').removeClass('hide');
        $('#idea-12').addClass('hide');
    });

</script>


<!--Typography divider. Don't erase.!-->
</div>
<!--This one close the mirror created. Don't erase.!-->
<div class="container">




